{% extends 'index.html' %}
{% block title %}SIGNUP{% endblock title %}
{% block body %}
<div class="container my-4">
</div>
<div class="col-md-6 col-lg-7 d-flex align-items-center">
  <div class="card-body p-4 p-lg-5 text-black">

    <form method="post">
      {% csrf_token %}
      <div class="d-flex align-items-center mb-3 pb-1">
        <i class="fas fa-cubes fa-2x " style="color: #ff6219;"></i>
        <h1 class="h1 fw-bold mb-0">Sign Up</h1>
      </div>


      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example17">Email Address</label>
        <input type="email" id="form2Example17" class="form-control form-control-lg" name ='email' />
      </div>
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example17">Username</label>
        <input type="name" id="form2Example17" class="form-control form-control-lg" name ='username' />
      </div>
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example17">Firstname</label>
        <input type="name" id="form2Example17" class="form-control form-control-lg" name ='fname' />
      </div>
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example17">Lastname</label>
        <input type="name" id="form2Example17" class="form-control form-control-lg" name ='lname' />
      </div>
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example27">Password</label>
        <input type="password " id="form2Example27" class="form-control form-control-lg" name='pass1'/>
      </div>
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example27">Confirm Your Password</label>
        <input type="password " id="form2Example27" class="form-control form-control-lg" name='pass2'/>
      </div>
      <div class="pt-1 mb-4">
        <button class="btn btn-dark btn-lg btn-block" type="submit">SignUp</button>
        
      </div>
      
    </form>

  </div>
</div>
</div>
{% endblock body %}
